# Clustering
developer: Mohammad mehdi Sahraei
***
[maktabkhooneh](https://maktabkhooneh.org/course/%DB%8C%D8%A7%D8%AF%DA%AF%DB%8C%D8%B1%DB%8C-%D9%85%D8%A7%D8%B4%DB%8C%D9%86-%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86-mk1318/)

### importing_libraries

In [2]:
import pandas as pd
import numpy as np

### Reading the data with pandas

In [3]:
df = pd.read_csv("digits.csv")
df.head(2)

,x,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x192,x193,x194,x195,x196,x197,x198,x199,x200,خوشه
0,mod1,35500.00000,35635.61133,35840.41016,36708.20215,37250.73828,36689.42969,37269.19141,37975.40723,37943.39258,...,23251.62549,23102.91895,23038.57422,22790.72070,22987.78857,23135.13623,23098.24072,23592.31250,23464.10449,r
1,mod10,37946.06055,38613.45898,37841.01172,36907.38672,39317.88867,41456.97656,41899.81152,43099.27148,44018.70020,...,23502.36865,24157.37500,24107.46338,24508.10547,24482.39111,24357.66357,23992.83594,23716.93164,23323.80273,n

### The first Clustering

In [9]:
userInput1 = [
               {'خوشه':'r'},
             ] 

inputMovies1 = pd.DataFrame(userInput1)
inputMovies1

  خوشه
0    r

In [13]:
inputId1 = df[df['خوشه'].isin(inputMovies1['خوشه'].tolist())]
inputId1.shape

(65, 202)

In [19]:
inputId1.to_csv('out1.csv')

### The second Clustering

In [16]:
userInput2 = [
               {'خوشه':'n'},
             ] 

inputMovies2 = pd.DataFrame(userInput2)
inputMovies2

  خوشه
0    n

In [17]:
inputId2 = df[df['خوشه'].isin(inputMovies2['خوشه'].tolist())]
inputId2.shape

(51, 202)

In [20]:
inputId2.to_csv('out2.csv')

### The third Clustering

In [22]:
userInput3 = [
               {'خوشه':'s'},
             ] 

inputMovies3 = pd.DataFrame(userInput3)
inputMovies3

  خوشه
0    s

In [23]:
inputId3 = df[df['خوشه'].isin(inputMovies3['خوشه'].tolist())]
inputId3.shape

(50, 202)

In [24]:
inputId3.to_csv('out3.csv')